<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.richardradics.core">

    <application
        android:name=".app.BaseApplication_"
        android:allowBackup="true"
        android:label="@string/app_name">
        <activity
            android:name=".app.ErrorActivity"
            android:label=""></activity>
    </application>

</manifest>
